<?xml version="1.0"?>
<robot name="r2" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Base frames -->
  <link name="base_footprint"/>
  <link name="base_link"/>

  <!-- base_footprint -> base_link (fixed) -->
  <joint name="base_footprint_to_base_link" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.02" rpy="0 0 3.141592653589793"/>
  </joint>

  <!-- LiDAR frame -->
  <link name="laser"/>

  <joint name="base_link_to_laser" type="fixed">
    <parent link="base_link"/>
    <child link="laser"/>
    <origin xyz="0.00 0.00 0.16" rpy="0 0 0"/>
  </joint>

  <!-- Astra Camera frames -->
  <link name="camera_link"/>
  
  <joint name="base_link_to_camera_link" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
         x: forward, y: left, z: up (in meters)
         rpy: roll, pitch, yaw (in radians) -->
    <origin xyz="-0.15 0.00 0.11" rpy="0 -0.087 3.141592653589793"/>
  </joint>

  <!-- Camera depth optical frame -->
  <link name="camera_depth_optical_frame"/>
  
  <joint name="camera_link_to_depth_optical" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_depth_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.5707963267948966 0 -1.5707963267948966"/>
  </joint>

</robot>
